<div class="grid gap-0 grid-cols-{{this.sqrtPixels}}">
  {{#each this.pixels as |pixel index|}}
    <Swatch
      data-test-pixel={{index}}
      @shade={{pixel}}
      {{on "click" (fn this.updatePixelColor index)}}
    />
  {{/each}}
</div>