<div>
    {{#each this.pixelRows as |row|}}
        <div class="flex" data-test-frame-row>
            {{#each row as |pixel|}}
                <Swatch
                    data-test-pixel={{pixel.index}}
                    @shade={{pixel.color}}
                    {{on "click" (fn this.updatePixelColor pixel.index)}}
                />
            {{/each}}
        </div>
    {{/each}}
</div>