<div class="grid gap-0 grid-cols-{{this.sqrtPixels}}"
  data-test-animation-frame
>
  {{#each this.trackedPixels as |pixel index|}}
    <Swatch
      data-test-pixel={{index}}
      @shade={{pixel.color}}
      {{on "click" (fn this.updatePixelColor pixel)}}
    />
  {{/each}}
</div>