<div>
    {{#each this.pixelRows as |row|}}
        <div class="flex" data-test-frame-row>
            {{#each row as |pixel|}}
                <Swatch
                    data-test-pixel={{pixel}}
                    @shade={{pixel}}
                />
            {{/each}}
        </div>
    {{/each}}
</div>